@import '../../assets/var/var.scss';

.background{
    width: 100%;
    min-height: 100%;
    /*background: rgb(0,99,255);
    background: linear-gradient(0deg, rgb(0, 47, 255) 0%, rgba(9,9,121,1) 100%);*/
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        margin: 0 0 .8rem 0;
        font-size: 2.2rem;
        font-weight: bolder;
    }
}

//FORMULARIOS

@mixin transition {
    transition-property: all;
    transition-duration: .5s;
}

.formulario{
    label{
        display: block;
        margin-bottom: .5rem;
        font-weight: 600;
        color: $primary-color;
        font-size: 1.1rem;
    }

    input{
        width: 95.3%;
        border: 1.5px solid $primary-color;
        padding: .5rem;
        border-radius: 5px;
    }

    input[type=submit]{
        @include transition;
        width: 100%;
        margin-top: 1.3em;
        padding: .7rem;
        border: 0;
        background-color: $primary-color;
        color: $grey;
        font-weight: 600;
        border-radius: 0;

        &:hover{
            cursor: pointer;
            background-color: $hover-primary-color;
            color: $secondary-color;
        }
    }

    .bloque{
        margin: 1rem 0;
    }

    .back{
        @include transition;
        width: fit-content;
        margin: .7rem auto 0 auto;
        padding: 0;
        text-align: center;
        color: $primary-color;
        border-bottom: 1.4px solid $secondary-color;

        &:hover{
            cursor: pointer;
            border-bottom: 1.4px solid black;
        }
    }
}