.bookList{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1472px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1054px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}