@use 'sass:color';
@import '../../../assets/var/var.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    button{
        all: unset;
        padding: .5rem 1rem;
        color: $secondary-color;
        font-weight: bolder;
        background-color: $primary-color;
        margin: .1rem .2rem;
        color: $green;
        font-size: 1.2rem;
        text-align: center;
  
        &:hover{
          filter: brightness(1.25);
          cursor: pointer;
        }
    }
}

.error{
  text-align: center;
  font-size: 1.3rem;
  color: $crossRed;
}

