@import '../../assets/var/var.scss';

.container{
    max-width: 40rem;
    color: primary-color;
    border-radius: 10px;
    margin: 0 auto 2rem auto;
    padding: .8rem 2rem 1.5rem 2rem;
    background-color: $secondary-color;
    border-radius: 1rem;
    border: .5rem solid $primary-color;
    position: relative;

    .title{
        margin-top: 0;
        font-size: 2rem;
        text-align: center;
        span{
            font-size: 1.2rem;
            display: block;
            margin-top: .4rem;
        }
    }
    
    .image{
        display: block;
        width: 20rem;
        margin: auto;
    }

    .categories{
        text-align: center;
        span{
            margin: 0 .5rem;
            font-weight: 600;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            padding: .3rem .5rem;
        }
    }

    button{
        all: unset;
        background-color: $primary-color;
        color: $active;
        display: block;
        margin: auto;
        padding: .5rem .9rem;
        border-radius: 5px;
        font-weight: 900;
        &:hover{
            cursor: pointer;
        }
    }
}