@import '../../assets/var/var.scss';

.breadcrumb{
    width: fit-content;
    font-size: 1.7rem;
    font-weight: 900;
    margin: 1rem auto 3rem auto;

    a{
        background-color: $gray-cool-10;
        text-decoration: none;
        padding: .7rem 3rem;
        color: $secondary-color;

        &.active{
            color:$active;
            border-bottom: 3px solid $active;
        }
    }

    a:nth-child(1){
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    a:nth-child(2){
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}