@import '../../assets/var/var.scss';

.container{
    margin: auto;
    border-radius: 10px;
    width: 13.6rem;
    background-color: $primary-color;
    color: $grey;
    text-align: center;
    padding: .5rem;
    filter: brightness(.9);
    transition-property: all;
    transition-duration: .5s;
    
    &:hover{
        filter: brightness(1.1);
       
        .image{
            background-size: 103%;
        }
    }
    
    .image{
        padding: .5rem;
        height: 15rem;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition-property: all;
        transition-duration: .6s;

        &:hover{
            background-size: 103%;
        }
    }

    .textContent{
        width: 90%;
        padding: 0 1rem;
        margin: auto;

        h3{
            margin-top: .6rem;
            color: $active;
            margin-bottom: 0;
            font-size: 1.8rem;
            display: -webkit-box; /*Después de 2 líneas me lo ocultas*/
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden; 
        }
        p{
            margin-top: .7rem;
            text-align: left;
            font-size: .9rem;
            display: -webkit-box; /*Después de 2 líneas me lo ocultas*/
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden; 
        }
    }

    .btn{
        all: unset;
        margin: 0 0 .5rem 0;
        width: 80%;
        border: 1px solid $active;
        padding: .2rem .5rem;
        border-radius: 10px;
        transition-property: all;
        transition-duration: .5s;

        &:hover {
            color: $primary-color;
            background-color: $active;
            cursor: pointer;
        }
    }

}